body {background-color:#DAEAF1;
    font-family: 'Gogles', sans-serif;
    font-size:17px;}
  hr {border-style:dotted none none;
    border-color:rgb(188, 186, 186);
    border-width:15px;
    width:10%;}
  h1 {color: #66BFBF;}
  h3 {color:#66BFBF}
